.main {
  margin: 0 auto;
  text-align: center;
}

.table {
  margin: auto;
}

.table_heading {
  padding: 10px;
  background: #c9c8c8;
  border: 1px solid gray;
  border-radius: 2px;
  cursor: pointer;
  transition: opacity .5s ease;
}

.table_heading:hover {
  opacity: .7;
}

.table_row {
  padding: 10px;
  border: 1px solid #f0f0f0;
}

.table_row_active {
  background: #c9c8c8;
  border: 1px solid gray;
}

.pages {
  margin: 20px auto;
}

.page {
  margin: 0 5px;
  background: #c9c8c8;
  border-color: gray;
  border-radius: 2px;
}